*{
	
	box-sizing:border-box;
	
}



header{
	
	
	background-color:red;
	padding:.5em;
	
}

nav{
	
		display: inline-block;
		
		position: initial;	

	text-align: center;
	height: 40px;
	padding-top: 35px;

	top: 0px;
	width: 100%;
	background-color:green;
	
	
}

nav>ul{
	/*
	text-align: center;
	margin:0;
	padding:0;
	list-style:none;
	max-height:1.75em;
	overflow:hidden;
	transition: max-height .3s ease;
	*/

	margin:0;
	padding:0;
	list-style:none;
	max-height:1.75em;
	overflow:hidden;
	transition: max-height .3s ease;
	opacity: 0.8;
	position: relative;
	top: -15px;
}

/* nav>ul:hover{ 
	

	max-height:15em;
	
}*/

label[for="menu-trigger"]{
	
	cursor:pointer;
	padding-right:.2em;
	font-size:1.5em;
	font-weight:bold;
	width:100%;
	display:block;
	text-align:right;
}

nav>#menu-trigger:checked + ul{
	
	max-height:15em;
	
}

nav>#menu-trigger{
	
	display:none;
	
}

nav>ul>li{
	
	line-height:1.75em;
	
	
}

@media all and (min-width:480px){
	
	nav>ul>li{
		
		display:inline-block;
		float:left;
		overflow:hidden;
	}
	
	nav>ul>li:first-of-type{
		
		display:none;
	}
	
	nav>ul>li>a{
		
		padding:0 .5em;
		border-right:.1em solid #234;
		
	}

	nav{
			justify-content: center;
	}
	nav>ul{
			justify-content: center;
			
	}
	
}


nav>ul>li>a{
	
	display:block;
	width:100%;
	padding:.5em;
	
}

nav>ul>li>a:hover{
	
	background-color:#fff;
	color:#234;
	
}

body{
	text-align: center;
	margin:0px;
}