
a {
  height: 270px;
  /*perspective: 600;*/
  position: relative;
  width: 320px;
}
figure {
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.1s ease-in-out;
 /*puesto*/
}
figure:hover {
  transform: rotateY(180deg);
  /*puesto*/
}
figure img {
  backface-visibility: hidden;
  border-radius: 6px;
  
  position: absolute;
  overflow: hidden;
  height: 270px:;
  width: 320px;
}
figure figcaption {
  background: #eaeaed;
  color: #0087cc;
  /*line-height: 150px;*/
  text-align: center;
  height: 270px;
  width: 320px;
  transform: rotateY(180deg);
}